body {
  height: 100vh;
}
.buttons .nav {
  text-decoration: none;
  color: rgb(245,0,87);

  :visited {
    text-decoration: none;

  }
}
.successPart {
  text-align: center;
  left: 0; right: 0; top: 0;
  height: 3vh;

}
.errorPart {
  display: grid;
  grid-template-rows: auto;
  margin-top: 0.5em;
  text-align: center;
  justify-content: center;
  align-items: center;
  background: #100e17;
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

.signIn {
 text-align: center;
  margin: auto;
  width: 50vw;
  height: 60vh;
  min-width: 200px;
  max-width: 400px;
  min-height: 520px;
  padding: 40px;
  position: absolute;
  background: #1d1e22;

  top: 0; left: 0; bottom: 0; right: 0;
  box-shadow: inset 0px 5px 20px 0px rgba(0,0,0,0.75);
}
.signUp {
  text-align: center;
  margin: auto;
  width: 60vw;
  height: 60vh;
  min-width: 200px;
  max-width: 400px;
  min-height: 450px;
  padding: 40px;
  position: absolute;
  background: #1d1e22;

  top: 0; left: 0; bottom: 0; right: 0;
  box-shadow: inset 0px 5px 20px 0px rgba(0,0,0,0.75);
}

.textfieldgrid{
  .username {
    margin-top: 1em;
  }
  .password {
    margin-top: 1em;
  }
  .login {
    margin-top: 1em;

  }
}
.signOut {
  top: 0;
  right: 0;
  position: absolute;
  float: right;
}
